body {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    font-family: sans-serif;
}

h1 {
    font-size: xx-large;
}

p {
    line-height: 1.7;
}

article + article {
    border-top: 1px solid #dcdcdc;
    margin-top: 3rem;
    padding-top: 3rem;
}
